extends layouts/layout

block content
  script(src='knapsack.js')
  script(src='util/histogram.js')
  script(src='util/progress.js')
  script
    $(function() { $('#resolve').click() })
  style
    :stylus

  h1 Knapsack Problem Resolver

  form
    h2 Problem Parameter:
    .input
      label Knapsack capacity
      input#C(type='number' value='100')
      | Kg

    .input
      label Number of Items
      select#items(name='items')
        option(value='items_10') 10
        option(value='items_100') 100
        option(value='items_1000' selected) 1000
        option(value='items_10000') 10000

    h2 GA Parameter:
    .input
      label Number of Population
      input#N(type='number' value='300')

    .input
      label Maximum Generation
      input#G(type='number' value='500')

    br
    .input
      label Crossover
      select#Fc
        option point(1)
        option point(2)
        option(selected) uniform()
    .input
      label Rate
      input#Pc(type='number' value='95.0')
      | %

    .input
      label Mutation
      select#Fm
        option(value="booleanInversion()") substitution()
        option(selected) inversion()
    .input
      label Rate
      input#Pm(type='number' value='5.0')
      | %

    .input
      button#resolve Resolve
      button#terminate Terminate

  div#progress
    svg#histogram

  script
    :coffee
      progress = new Progress '#progress'

      class Chart extends Histogram
        setup: (data)->
          @capacity = parseInt $('#C').val()
          @viewBox.update
            height: $('#N').val() / 5
          super [0, @capacity * 2], (d)-> d.price
      chart = new Chart '#histogram'

      knapsack = undefined

      $('#resolve').on 'click', (e)->
        e.preventDefault()
        $.getJSON "data/#{$('#items').val()}.json", (data)->
          console.log data.params, data.items.length
          chart.setup data
          knapsack?.terminate()
          knapsack = new Knapsack (parseInt $('#C').val()), data.items
            .on 'reproduct', (population)->
              console.log 'reproduct', population.dump()
              progress.update population
              chart.update population
            .resolve
              N: parseInt $('#N').val()
              G: parseInt $('#G').val()
              Fc: $('#Fc').val()
              Pc: $('#Pc').val() / 100
              Fm: $('#Fm').val()
              Pm: $('#Pm').val() / 100
              #intervalMillis: 1000
            , (result, population)->
              console.log 'finish', population.dump()
              console.log result.itemNumbers
              console.log result.dump()

      $('#terminate').on 'click', (e)->
        e.preventDefault()
        knapsack?.terminate()
        knapsack = undefined

      GA.Population::dump = ->
        "#{@generationNumber}" +
          ", best: #{@best.fitness.toFixed 2}" +
          ", worst: #{@worst.fitness.toFixed 2}" +
          ", ave: #{@fitness.average().toFixed 2}"
